stages:
  - build
  - deploy

variables:
  IMAGE_TAG: $CI_REGISTRY/$CI_PROJECT_PATH:$CI_COMMIT_REF_SLUG

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

# --- STAGING ---

build_staging:
  stage: build
  tags:
    - dev
  only:
    changes:
      - "**/*"
    refs:
      - staging
  script:
    - docker compose -f docker-compose.staging.yml build --build-arg IMAGE_TAG=$IMAGE_TAG
    - docker push $IMAGE_TAG

deploy_staging:
  stage: deploy
  tags:
    - dev
  only:
    changes:
      - "**/*"
    refs:
      - staging
  script:
    - docker pull $IMAGE_TAG
    - docker compose -p imo2tun-frontend-staging -f docker-compose.staging.yml up -d --force-recreate

# --- PRODUCTION ---

build_prod:
  stage: build
  tags:
    - dev
  only:
    changes:
      - "**/*"
    refs:
      - main
  script:
    - docker compose -f docker-compose.prod.yml build --build-arg IMAGE_TAG=$IMAGE_TAG
    - docker push $IMAGE_TAG

deploy_prod:
  stage: deploy
  tags:
    - dev
  only:
    changes:
      - "**/*"
    refs:
      - main
  script:
    - docker pull $IMAGE_TAG
    - docker compose -p imo2tun-frontend-prod -f docker-compose.prod.yml up -d --force-recreate
# --- END ---
